{% extends "layout.html" %}

{% block content %}
    <div class="landing-page">
        <h2>Welcome to your Personal Journal</h2>
        <h3>Sign up or Sign in to get started!</h3>
        <div class="landing-page-actions">
            <a href="{{ url_for('register') }}" class="button icon-right">
              <span>Register</span> <i class="material-icons">account_box</i>
            </a>
            <a href="{{ url_for('login') }}" class="button icon-right">
              <span>Login</span> <i class="material-icons">open_lock</i>
            </a>
        </div>
    </div>
{% endblock %}